<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Welcome <%= name %></p>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
    <p>Change pin</p>
    <form action="/auth/update-pin/<%= id %>" method="post">
      <input name="pin" type="number" />
      <button>Change</button>
    </form>
  </body>
</html>
