<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>This is the homepage</p>
    <form action="/auth/google" method="get">
      <button type="submit">Sign up with Google</button>
    </form>
  </body>
</html>
